html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css')
		//- fontawesome
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css', integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==', crossorigin='anonymous', referrerpolicy='no-referrer')

		block my_styles

		body
			nav.navbar.is-dark
				.container
					.navbar-brand
						a.navbar-item(href='#') LOGO
						button.navbar-burger(data-target='nav-menu')
							span
							span
							span
					#nav-menu.navbar-menu
						.navbar-end
							a.navbar-item(href='/user') Home
							a.navbar-item(href='/user/alerts') Alerts
							a.navbar-item(onclick='event.preventDefault(); document.getElementById("logout-form").submit();') Logout
							form#logout-form(action='/auth/logout' method='POST' style='display: none;')
								button.button.is-ghost.has-text-white(type='submit')
									| Logout

			main.container.mt-3
				block content

			footer.footer.text-center
				div.content.has-text-grey
					p
					| &copy; TRU Safe 2023

		script(src='https://code.jquery.com/jquery-3.6.4.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js")

		script.
			$(document).ready(function() {
				$('.navbar-burger').click(function() {
					$('#nav-menu').toggleClass('is-active');
					$(this).toggleClass('is-active');
				});
			});
		block my_scripts
